@import url("normalize.css");

*{margin:0; padding:0}
body, html{
    /*background: #EEE;*/
    background: white;
    font-family: helvetica, arial,sans-serif;
    font-size: 16px;
    text-align: center;

}

img{
    max-width: 100%;
}

#cabecera, #contenido{
  /*  display: inline-block;
    vertical-align: top;*/
}

#cabecera,#contenido{
    padding:10px;
    margin:0 !important;
}
.cabecera,.contenido{
    padding-right:0;
    padding-left:0;
}

.error{
    background-color: #fff5f5;
    margin: auto;
    width: 450px;
    padding: 20px;
    color: #a62833;
    text-align: center;
}

.exito{
    background-color: #f2ffe8;
    margin: auto;
    width: 450px;
    padding: 20px;
    color: #2e9123;
    text-align: center;
}

.formulario, .tabla p{
    text-align: left;
}

.formulario div{
    margin: 1em auto;
}

.formulario legend{
    font-size: 2em;
    font-weight: bold;
}


.paginacion a, .actual{
    /*color: #EC673A;*/
    color:#a62833;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    text-decoration: none;
    vertical-align: middle;
}

.paginacion a:hover, .actual{
    color: #1C5F81;
}

.actual{
    font-size: 3rem;
}

.tabla{
    margin: auto;
    width: 100%;
}

.tabla a{
	color: #EEE;
}

.tabla a:hover{
	color: #292623;
}

.tabla img{
	max-width: 200px;
	max-height: 200px;
}

.tabla td{
	vertical-align: top;
}

.tabla th{
	background: #292623;
	color: #EEE;
}

.tabla tr:nth-child(odd){
	/*background: #EC673A;*/
    background:#bf2b37;
}

.tabla tr:nth-child(even){
	background: #1C5F81;
}
.centrar{
    text-align: center;
}